*~
/releases
/buildtools/appimage/love-prepared/
/buildtools/appimage/game-x86_64.AppImage
/buildtools/appimage/love-11.4-x86_64.AppImage
/buildtools/appimage/appimagetool-x86_64.AppImage
/buildtools/appimage/squashfs-root
